
{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/blog.css')}}"> {% endblock %}
{% block content %}

<body style="background-color: #E5DFC6  ;">

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" >
      {% for blog in blogs %}
      <div class="preview">
        <a href="blog/new/{{ blog.id }}">
        <h2 class="title">{{ blog.title }}</h2></a>
        <p>{{blog.topic}}</p>
        <p>{{ blog.content}}</p>
        <small><p>Posted by {{blog.author }} on {{ blog.date.strftime('%B %d, %Y') }}</p></small>
      </div>
      <hr>
      {% endfor %}
      <hr>
    </div>
  </div>
  </div>

  <div class="container">

    <img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="globe" style="width:100%; height:400px">
<div class="content">
    <h1>Blog Insight</h1>
    <p>Inspire and get some Insights.</p>
</div>
    <div class="btn-group mt-2" role="group" aria-label="Basic example">

      <a class="btn btn-primary btn-lg" href="/subscribe">Subscribe</a>
      
  </div> 


 </div>
  {% endblock%}
</body>
